* {
	color: grey;
	font-family: Arial;
	background-color: black;
}

#major-area {
	margin:auto;
	margin-top: 15px;
	width:968px;
}

#top-degradee {
	height: 10px;
	/* Safari 5.1+ y Chrome 10+ */  
	background-image:-webkit-linear-gradient(#555, #FFF);
	/* Firefox 3.6+ */  
	background-image:-moz-linear-gradient(top, #555, #FFF);
	/* Opera 11.10+ */  
	background-image:-o-linear-gradient(top, #555, #FFF);
}

#hp-header-area {
	background-color: black;
	height: 60px;
}

#hp-logo {
	height:40px;
	width:40px;
	margin: 10px 0 10px 20px;
}

#location-widget {
	padding: 10px 20px 0px;
	color: white;
	float: right;
	background-color: transparent;
}

.styled-select{
	width: 175px;
	height: 25px;
	overflow: hidden;
	background: url(resources/down-arrow.png) no-repeat right #353535;
	/*border: 1px solid #ccc;*/
}

#location-widget select {
	background: transparent;
	width: 200px;
	/*padding: 5px;*/
	color: white;
	font-size: 12px;
	/*line-height: 1;*/
	border: 0;
	border-radius: 0;
	height: 25px;
}

#location-widget p {
	color: white;
	font-weight: bolder;
	font-size: 8pt;
	margin: 5px 0px;
}

#main-contents-area {
	/* Safari 5.1+ y Chrome 10+ */  
	background-image: url("resources/degradee.png");
	background-repeat: repeat-x;
}

#main-menu-area{
	background-color: transparent;
	height: 60px;
	margin-left: 20px;
}

#main-menu{
	border: 0px;
	padding: 0px;
	margin: 0px;
	display: inline;
	background-color: transparent;
	list-style-type: none;
}

.menu-item {
	width: 145px;
	padding: 0px 10px 0px 17px;
	text-align: left;
	color: white;
	background-color: transparent;
	display: inline-block;
    vertical-align: middle;
}

.separator{
	width:20px;
	padding: 0px;
	width: auto;
	margin-left: -7px;
}

#main-menu > li:first-of-type {
	width: 145px;
	padding: 10px 10px;
	text-align: left;
	background-color: white;
	color: black;
}

.styled-search{
	width: 165px;
	height: 20px;
	overflow: hidden;
	background: url(resources/searchicon.png) no-repeat right white;
	/*border: 1px solid #ccc;*/
}

#search-box{
	background: white;
	width: 145px;
	color: grey;
	font-size: 11px;
	border: 0;
	border-radius: 0;
	height: 20px;
}

#search-button{
    background-color: black;
    border: 1pt solid grey;
    color: white;
    font-size: 6pt;
    font-weight: bold;
    margin: 0;
    padding: 0;
    float: right;
}
#search-widget {
	float: right;
	margin: 20px;
	display: inline;
	width: 190px;
	background-color: transparent;
	vertical-align: middle;
}


.main-content{
	background-color: white;
	height: 440px;
	width: 930px;
	margin-top: -2px;
	margin-left: 20px;
	padding-top: 30px;
}

#show-side-bar{
	height: 420px;
	width: 200px;
	margin-left: 15px;
	background-color: white;
	float: left;
}

.side-bar {
	font-size: 9pt;
	list-style-type: none;
	padding: 0px;
	border: 1px solid;
	margin: 0px;
	height: 100%;
	background-color: transparent;
}

/*.sidebar-item:first-of-type {
	background-color: #353535;
	color: white;
	padding: 0px 0px;
	vertical-align: middle;
}*/

.sidebar-item{
	margin: 0px;
	padding: 4px;
	border-top: 1px solid grey;
	background-color: #D5D5D5;
	color: black;
	font-weight: bold;
}

.side-bar > li{
	position: relative;
}

.side-bar > li > ul{
	background-color: white;
	list-style-type: none;
	padding-left: 20px;
	height: 100%;
}

.side-bar > li > ul > li{
	background-color: white;
	list-style-type: none;
	font-weight: normal;
}

.content{
	height: 420px;
	width: 680px;
	margin-left: 10px;
	border-top: 1px solid white;
	float: left;
}


.news{
	margin-left: 20px;
	margin-right: 20px;
	padding: 5px 10px;
	font-size: 9pt;
	color: white;
	background-color: #333
}

#site-map-area{
	margin-left: 20px;
	margin-right: 20px;
	padding: 0px;
	height: 100px;
	background-color: #111
}

#site-map{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	list-style-position:none;
	background-color: transparent;
}

.site-map-top-item{
	float: left;
	color: white;
	font-weight: bold;
	font-size: 9pt;
	list-style-type: none;
	background-color: #111;
}


.site-map-top-item > ul{
	padding: 0px;
}

#map-item-hp-corporate{
	width: 260px;
	padding-right: 20px;
}
#map-item-resources{
	width: 380px;
	padding-right: 20px;
}

#map-item-customer-support{
	width: 200px;
	padding-right: 20px;
}

.site-map-sub-item{
	list-style-type: none;
	background-color: #111;
}

.odd{
	float:right;
}

#links-area{
	height: 10px;
	margin: auto;
}

#links{
	font-size: 8pt;
	margin-top: 30px;
	border: 0px;
	padding: 0px;
	word-spacing: 5px;
	text-align: center;
}

#links a:link{
	text-decoration: none
}
#links a:visited{
	text-decoration: none
}
#links a:active{
	text-decoration: none
}
#links a:hover{
	text-decoration: underline; color: red;
}

#footer-area{
	font-size: 9pt;
	border: 0px;
	padding: 30px 0px;
	text-align: center;
}

#footer a:link{
	text-decoration: none
}

#footer-area p{
	border: 0px;
	margin: 0px;
}