<!DOCTYPE html>
{% load url from future %}
{% load bootstrap_toolkit %}
{% load staticfiles %}

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>All your Polls</title>
    <meta name="description" content="">
    <meta name="author" content="Carlos de la Torre">
    {% bootstrap_stylesheet_tag %}
    <link rel="stylesheet" href="{% static 'css/base-style.css' %}">
    <!--
    [if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    
    {% bootstrap_javascript_tag %}
    {% block extra_head %}
        <!-- Place to load extra headers. -->
    {% endblock %}
</head>

<body>

<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <ul class="nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle brand" data-toggle="dropdown">
                        Cuchuflito's Polls <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{% url 'polls:index' %}" class="">
                                <i class="icon-home"></i> Home
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'polls:new_poll' %}">
                                <i class="icon-plus-sign"></i> New poll
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'polls:archive' %}">
                                <i class="icon-folder-open"></i> Archive
                            </a>
                        </li>
                        <li class="divider"/>
                        <li>
                            <a href="{% url 'polls:facts' %}">
                                <i class="icon-search"></i> Useless facts
                            </a>
                        </li>
                        <li>
                            <a href="mailto:cmdelatorre@gmail.com">
                                <i class="icon-envelope"></i> Contact
                            </a>
                        </li>
                    </ul>
                </li>
                
            </ul>
        </div>
    </div>
</div>

<div class="container">

    {% bootstrap_messages %}

    {% block content %}
        Empty doc.
    {% endblock %}

    {% block extra_scripts %}
        <!-- Place to load JS scripts. -->
    {% endblock %}

    <p><hr></p>

    <footer class="row">
        <div class="span12">
            <p>Using <a href="https://github.com/dyve/django-bootstrap-toolkit">django-bootstrap-toolkit</a></p>
        </div>
    </footer>

</div> <!-- container -->

</body>
</html>

