{% extends "polls/base.html" %}
{% load url from future %}
{% load bootstrap_toolkit %}
{% block content %}
<div class="hero-unit">
<h1>{{ poll.question }}</h1>


{{ voting_form.choice.errors }}
{% if voting_form.choice %}
            <form action="{% url 'polls:vote' poll_id=poll.id %}"
                  method="post">
                {% csrf_token %}
                {% for c in voting_form.choice %}
                <div class="radio">
                    {{ c }}
                </div>
                {% endfor %}                
                <input class="btn btn-primary btn-large" type="submit" value="Vote" />
            </form>
{%endif%} 

    {{ new_choice_form.choice.errors }}
    <form action="{% url 'polls:add_choice' poll_id=poll.id %}"
          class="form-inline"
          method="post">
        {% csrf_token %}
        <div class="input-append">
          {{ new_choice_form.choice }}
          <button class="btn" type="submit" value="Add choice">Add choice</button>
        </div>
    </form>

</div>

{% endblock %}

