{% load url from future %}
<html>
<head><title>{{ poll.question }}</title></head>
<body>
    <h1>{{ poll.question }}</h1>

    {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
    {% endif %}

    <form action="{% url 'polls:vote' poll_id=poll.id %}"
          method="post">
        {% csrf_token %}
        {{ voting_form.as_p }}
        <input type="submit" value="Vote" />
    </form>

    <form action="{% url 'polls:add_choice' poll_id=poll.id %}"
          method="post">
        {% csrf_token %}
        {{ new_choice_form.as_p }}
        <input type="submit" value="Add choice" />
    </form>

</body>
</html>

