{% extends "polls/base.html" %}
{% load url from future %}
{% load bootstrap_toolkit %}
{% block content %}
<div class="hero-unit">
<h1>{{ poll.question }}</h1>
</div>



{% if voting_form.choice %}
<div class="row">
    <div class="span6">
        <form action="{% url 'polls:vote' poll_id=poll.id %}"
                method="post">
            {% include "polls/errors_widget.html" with errors=voting_form.choice.errors %}
            {% for c in voting_form.choice %}
                <div class="radio">
                    {{ c }}
                </div>
            {% endfor %}  
            {% csrf_token %}              
            <input class="btn btn-primary btn-large" type="submit" value="Vote" />
        </form>
    </div>
{%endif%} 

    <div class="span6">
        If you don't agree with any of the available choices, you can add a new one:
        {% include "polls/errors_widget.html" with errors=new_choice_form.choice.errors %}
        <form action="{% url 'polls:add_choice' poll_id=poll.id %}"
                class="form-inline"
                method="post">
            {% csrf_token %}
            <div class="input-append">
                {{ new_choice_form.choice }}
                <button class="btn" type="submit" value="Add choice">Add choice</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}

