{% extends "polls/base.html" %}
{% load url from future %}
{% block content %}

<div class="hero-unit">
    <h1>Cuchuflito's polls!</h1>
    <p>Everybody has something to say about cuchulitos. Something <em>different</em> to say.</p>
    <p>Navigate the polls and vote for your favorite answers. Find out if what you think of the cuchuflitos is what other people also think!.</p>
    
    <p>
        <a class="btn btn-primary btn-large" href="{% url 'polls:archive' %}">
            Go to the archive &raquo;
        </a>

        <a class="btn btn-primary btn-large" href="{% url 'polls:new_poll' %}">
            Create a new poll &raquo;
        </a>

        <a class="btn btn-primary btn-large" href="{% url 'polls:facts' %}">
            Useless facts &raquo;
        </a>

    </p>
</div>

{% endblock %}
