{% extends "polls/base.html" %}
{% load url from future %}
{% block content %}
    {% if latest_poll_list %}
        <div class="hero-unit">
        <h1>Latest Polls!</h1>
        <p>Listed below ... bla bla bla...</p>
        <p><a class="btn btn-primary btn-large" href="{% url 'polls:archive' %}">Go the archive &raquo;</a></p>

        </div>        
        <div class="row">
        {% for poll in latest_poll_list %}    
            <div class="span3">
                <a href="{% url 'polls:detail' poll_id=poll.id %}">{{ poll.question }}</a>
                <p class="muted">
                    <small>
                        ({{ poll.pub_date }})
                    </small>
                </p>
                {% include "polls/listchoices.html" with choices=poll.choice_set.all%}
                </div>
        {% endfor %}
        </div>
    {% else %}
        <p>No hay encuestas.</p>
    {% endif %}
{% endblock %}
