{% load url from future %}
{% load bootstrap_toolkit %}
{% load poll_tags %}

{% if choices %}
<table class="table table-striped table-bordered">
    <thead class="">
        <tr>
            <th>Choice</th>
            <th>Votes</th>
        </tr>
    </thead>
    <tbody>
    {% for choice in choices %}
        {% if choice.votes == 0 %}
            <tr class="muted">
        {% else %}
            <tr>
        {% endif %}
            <td>{{ choice.choice }}</td>
            <td>{{ choice.votes }} {% barrita choice %}</td>
        </tr>
    {% endfor %}
    <tbody>
</table>
{% else %}
    <p>No choices available.</p>
{% endif %}