{% extends "polls/base.html" %}
{% load url from future %}
{% load bootstrap_toolkit %}
{% block content %}

<div class="hero-unit">
{% include "polls/poll_heading_snippet.html" %}
</div>

{% if voting_form.choice %}

<form action="{% url 'polls:emit_vote' poll_id=poll.id %}"
        method="post">
    {% csrf_token %}
    <div class="row">
        <div class="span6 offset3">
                {% include "polls/errors_widget.html" with errors=voting_form.choice.errors %}
                {% for c in voting_form.choice %}
                    <div class="radio">
                        {{ c }}
                    </div>
                {% endfor %}
        </div> 
    </div>
    <div class="row">
        <div class="span6 offset3">
            <input class="btn btn-large btn-primary btn-block" type="submit" value="Vote" />
            or
            <a  href="{% url 'polls:results' poll_id=poll.id %}" 
                class="btn btn-default btn-block"> 
                See the current results
            </a>
        </div>
    </div>
</form> 

{%endif%}
{% endblock %}

