{% extends "polls/base.html" %}
{% load url from future %}
{% load bootstrap_toolkit %}
{% block content %}
<div class="hero-unit">
    <h1>New Poll</h1>

    <form action="{% url 'polls:new_poll' %}"
          method="post"
          class="form-horizontal">
        {% csrf_token %}
        <div class="control-group">
            {% include "polls/errors_widget.html" with errors=form.question.errors %}
            <label for="id_question" class="control-label">Question </label>
            {{ form.question }}
            {{ form.pub_date.errors }}
            <!--{{ form.pub_date }}-->
            <input id="id_pub_date" type="hidden" value="2013-02-07 09:41:56.851142" name="pub_date">
        </div>
<!--
        <div class="control-group">
            {% include "polls/errors_widget.html" with errors=form.pub_date.errors %}
            <label for="id_pub_date" class="control-label">Date published </label>
            {{ form.pub_date }}
        </div>
-->
        <h4>Choices</h4>
        <div>
            <ul class="nav nav-tabs nav-stacked">
                {% for choice in the_choices%}
                    
                    <li>
                        <input type="hidden" name="a_choice" value="{{ choice }}"/>
                        <a href="#">{{ choice }}</a>
                    </li>
                {% endfor %}
            </ul>

            <p>
                {% include "polls/errors_widget.html" with errors=form.new_choice.errors %}
                {{ form.new_choice }}
                <input type="submit" name="save" value="Add choice" class="btn"></input>
            </p>
        </div>
        
        <p>
            <input type="submit" name="save" value="Save poll" class="btn btn-primary btn-large"></input>
        </p>
    </form>
</div>
{% endblock %}

