{% extends "polls/base.html" %}
{% load url from future %}
{% load bootstrap_toolkit %}
{% block content %}
    <h1>New Poll</h1>

    <form action="{% url 'polls:new_poll' %}"
          method="post">
        {% csrf_token %}
        <div class="control-group">
            {{ form.question.errors }}
            {{ form.question.label_tag }}
            {{ form.question }}
        </div>
        <div class="control-group">
            {{ form.pub_date.errors }}
            {{ form.pub_date.label_tag }}
            {{ form.pub_date }}
        </div>

        <div class="control-group">
            <ul>
                {% for choice in form.choices%}
                <li>{{ choice }}</li>
                {% endfor %}
            </ul>
            <p>
                {{ form.new_choice.label_tag }}
                {{ form.new_choice }}
                <input type="submit" name="save" value="Add choice" class="btn"></input>
            </p>
        </div>
        
        <p>
            <input type="submit" name="save" value="Save poll" class="btn btn-primary btn-large"></input>
        </p>
    </form>

{% endblock %}

