{% extends "polls/base.html" %}
{% load url from future %}
{% load bootstrap_toolkit %}
{% block content %}

<div class="container">
    <div class="hero-unit">
        <h2>Select a year:</h2>
        <div class="btn-toolbar">
            <div class="btn-group">
            {% for date in date_list %}
                    <a  class="btn btn-primary" 
                        href="{% url 'polls:archive_year' %}?year={{ date.year }}">{{ date.year }}</a>
            {% endfor %}
            </div>
        </div>
    </div>
</div>

<h3>Latest polls...</h3>

<div class="row">
{% for poll in latest %}
    <div class="span3">
        <a href="{% url 'polls:results' poll_id=poll.id %}">{{ poll.question }}</a><br/>
        <small class="muted">
            ({{ poll.pub_date }})
        </small>
        {% include "polls/listchoices.html" with choices=poll.get_ordered_choices%}
    </div>
{% endfor %}
</div>


{% endblock %}
