{% extends "polls/base.html" %}
{% load url from future %}
{% block content %}
<div>
    <h1>All the polls for the year {{ year }}</h1>
    {% for poll in object_list %}
        <p>
            <em>{{ poll.question }}</em>
            <small class="muted">
                ({{ poll.pub_date|date:"F j, Y" }})
            </small>
            <small>
            <a href="{% url 'polls:voting' poll_id=poll.id %}">Vote</a> | 
            <a href="{% url 'polls:results' poll_id=poll.id %}">View results</a>
            </small>
        </p>
    {% endfor %}
</div>

<div class="pagination pagination-small">
    <ul class="step-links">
        {% if page_obj.has_previous %}
            <li class="previous">
                <a href="?year={{ year }}&page={{ page_obj.previous_page_number }}">Previous</a>
            </li>
        {% endif %}

        <li>
            <span class="current">
                Page {{ page_obj.number }} of {{ paginator.num_pages }}.
            </span>
        </li>

        {% if page_obj.has_next %}
            <li class="next">
                <a href="?year={{ year }}&page={{ page_obj.next_page_number }}">Next</a>
            </li>
        {% endif %}
    </ul>
</div>

{% endblock %}
