{% extends "polls/base.html" %}
{% load url from future %}
{% load bootstrap_toolkit %}
{% block content %}
<div class="hero-unit">
    <h1>New Poll</h1>

    <form action="{% url 'polls:new_poll' %}"
          method="post"
          class="form-horizontal">
        {% csrf_token %}
        <div class="control-group">
            {{ form.question.errors }}
            <label for="id_question" class="control-label">Question </label>
            {{ form.question }}
        </div>


        <h4>Choices</h4>
        <div class="control-group">

                {% for choice in the_choices%}
                    <input type="text" name="a_choice" value="{{ choice }}">{{ choice }}</input> 
                {% endfor %}

            <p>
                {{ form.new_choice }}
                <input type="submit" name="save" value="Add choice" class="btn"></input>
            </p>
        </div>
        
        <p>
            <input type="submit" name="save" value="Save poll" class="btn btn-primary btn-large"></input>
        </p>
    </form>
</div>
{% endblock %}

